.App {
  text-align: center;
  background-color: #ddd;
  color: #444;
  line-height: 1.6;
  font-size: 18px;
}


#root,
.App,
.container {
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
}

.container {
  width: 70%;
}
