.sort-info {}

.sort-title {
  font-size: 2rem;
}

.sort-complexities {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-complexities-header,
.sort-complexities-row {
  width: 100%;
  padding: 0 10px;
  justify-content: space-around;
  display: flex;
}

.sort-complexities-header {
  text-decoration: underline;
}

.sort-complexities-row .best::before {
  content: 'Ω('
}

.sort-complexities-row .average::before {
  content: 'Θ('
}

.sort-complexities-row .worst::before {
  content: 'O('
}

.sort-complexities-row span::after {
  content: ')'
}

.sort-complexities-table {
  display: flex;
  flex-direction: column;
}

.bad,
.great,
.good,
.ok,
.meh {
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  color: #222;
}

.bad {
  border: 1px solid #b00;
  background-color: #f99;
}

.meh {
  border: 1px solid #b00;
  background-color: #FC4;
}

.ok {
  background-color: #ff0;
  border: 1px solid #6f6e00;
}


.good {
  border: 1px solid #286500;
  background-color: #C8EA00;
}

.great {
  background-color: green
}
